input {
  width: 150px;
}

td:first-child {
  font-weight: bold;
  min-width: 130px;
  padding-right: 5px;
}

img.flag {
  width: 32px;
}

div#status {
  text-align: right;
  width: 100%
  vertical-align: center;
  margin: 10px;
}

div#clickme {
  float: left;
  vertical-align: top;
  display: inline-block;
  margin: 5px;
   background-color: white;
  /*border: 2px solid blue;*/
}

div#clickme div.flag {
  float: left;
  /*border: 2px solid red;*/
}

div#clickme div.link {
  float: left;
  padding-top: 10px;
  margin: 3px;
  text-align: center;
  /*border: 2px solid green;*/
}

.button {
  width: 32.5%;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: white;
}

.red {
  background-color: #f44336;
  border: 2px solid #f44336;
}

.red:hover {
  color: #f44336;
  border: 2px solid #f44336;
}

.black {
  background-color: #555555;
  border: 2px solid #555555;
}

.black:hover {
  color: #555555;
  border: 2px solid #555555;
}

.blue {
  background-color: #008CBA;
  border: 2px solid #008CBA;
}

.blue:hover {
  color: #008CBA;
  border: 2px solid #008CBA;
}
